In [1]:
# Code Dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os


# ML Dependencies
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [2]:
# ADMISSIONS = "../../Resources/ADMISSIONS.csv"
# D_CPT = "../../Resources/D_CPT.csv"
# D_ICD_DIAGNOSES = "../../Resources/D_ICD_DIAGNOSES.csv"
# D_ICD_PROCEDURES = "../../Resources/D_ICD_PROCEDURES.csv"
# D_ITEMS = "../../Resources/D_ITEMS.csv"
# D_LABITEMS = "../../Resources/D_LABITEMS.csv"
# DIAGNOSES_ICD = "../../Resources/DIAGNOSES_ICD.csv"
# DRGCODES = "../../Resources/DRGCODES.csv"
# ICUSTAYS = "../../Resources/ICUSTAYS.csv"
# INPUTEVENTS_CV = "../../Resources/INPUTEVENTS_CV.csv"
# LABEVENTS = "../../Resources/LABEVENTS.csv"
# OUTPUTEVENTS = "../../Resources/OUTPUTEVENTS.csv"
# PATIENTS = "../../Resources/PATIENTS.csv"
# PRESCRIPTIONS = "../../Resources/PRESCRIPTIONS.csv"
# PROCEDUREEVENTS_MV = "../../Resources/PROCEDUREEVENTS_MV.csv"
# PROCEDURES_ICD = "../../Resources/PROCEDURES_ICD.csv"


# admissions_df = pd.read_csv(ADMISSIONS)
# dcpt_df = pd.read_csv(D_CPT)
# dicd_diag_df = pd.read_csv(D_ICD_DIAGNOSES)
# dicd_proc_df = pd.read_csv(D_ICD_PROCEDURES)
# ditems_df = pd.read_csv(D_ITEMS)
# labitems_df = pd.read_csv(D_LABITEMS)
# diagnosesicd_df = pd.read_csv(DIAGNOSES_ICD)
# drgcodes_df = pd.read_csv(DRGCODES)
# icu_df = pd.read_csv(ICU_STAYS)
# inputevents_df = pd.read_csv(INPUTEVENTS_CV)
# labevents_df = pd.read_csv(LABEVENTS)
# outputevents_df = pd.read_csv(OUTPUTEVENTS)
# patients_df = pd.read_csv(PATIENTS)
# prescriptions_df = pd.read_csv(PRESCRIPTIONS)
# procedureevents_df = pd.read_csv(PROCEDUREEVENTS_MV)
# procedures_df = pd.read_csv(PROCEDURES_ICD)

In [3]:
ADMISSIONS = "../../Resources/ADMISSIONS.csv"
admissions_df = pd.read_csv(ADMISSIONS)

In [4]:
admissions_df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1

In [5]:
# Extract day, month, year from DateStringYYYYMMDD
admissions_df['ADMITTIME'] = pd.to_datetime(admissions_df['ADMITTIME'])
admissions_df['DISCHTIME'] = pd.to_datetime(admissions_df['DISCHTIME'])

#format = '%Y%m%d %H%M%S'

admissions_df['admit_year'] = admissions_df['ADMITTIME'].dt.year
admissions_df['admit_month'] = admissions_df['ADMITTIME'].dt.month
admissions_df['admit_day'] = admissions_df['ADMITTIME'].dt.day
admissions_df['admit_time'] = admissions_df['ADMITTIME'].dt.time

admissions_df['disch_year'] = admissions_df['DISCHTIME'].dt.year
admissions_df['disch_month'] = admissions_df['DISCHTIME'].dt.month
admissions_df['disch_day'] = admissions_df['DISCHTIME'].dt.day
admissions_df['disch_time'] = admissions_df['DISCHTIME'].dt.time

admissions_df.head()

# NOTE!  from this we see that the years are actually garbage data

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,...,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,admit_year,admit_month,admit_day,admit_time,disch_year,disch_month,disch_day,disch_time
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,...,0,1,2196,4,9,12:26:00,2196,4,10,15:54:00
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,...,0,1,2153,9,3,07:15:00,2153,9,8,19:10:00
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,...,0,1,2157,10,18,19:34:00,2157,10,25,14:00:00
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,...,0,1,2139,6,6,16:14:00,2139,6,9,12:48:00
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,...,0,1,2160,11,2,02:06:00,2160,11,5,14:55:00

In [6]:
admissions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58976 entries, 0 to 58975
Data columns (total 27 columns):
ROW_ID                  58976 non-null int64
SUBJECT_ID              58976 non-null int64
HADM_ID                 58976 non-null int64
ADMITTIME               58976 non-null datetime64[ns]
DISCHTIME               58976 non-null datetime64[ns]
DEATHTIME               5854 non-null object
ADMISSION_TYPE          58976 non-null object
ADMISSION_LOCATION      58976 non-null object
DISCHARGE_LOCATION      58976 non-null object
INSURANCE               58976 non-null object
LANGUAGE                33644 non-null object
RELIGION                58518 non-null object
MARITAL_STATUS          48848 non-null object
ETHNICITY               58976 non-null object
EDREGTIME               30877 non-null object
EDOUTTIME               30877 non-null object
DIAGNOSIS               58951 non-null object
HOSPITAL_EXPIRE_FLAG    58976 non-null int64
HAS_CHARTEVENTS_DATA    58976 non-null int64
admit_year              58976 non-null int64
admit_month             58976 non-null int64
admit_day               58976 non-null int64
admit_time              58976 non-null object
disch_year              58976 non-null int64
disch_month             58976 non-null int64
disch_day               58976 non-null int64
disch_time              58976 non-null object
dtypes: datetime64[ns](2), int64(11), object(14)
memory usage: 12.1+ MB

In [7]:
admissions_df = admissions_df.drop(['DEATHTIME','LANGUAGE','EDREGTIME','EDOUTTIME','admit_year','disch_year'], axis=1)

In [8]:
admissions_clean = admissions_df.dropna()
admissions_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48588 entries, 0 to 58975
Data columns (total 21 columns):
ROW_ID                  48588 non-null int64
SUBJECT_ID              48588 non-null int64
HADM_ID                 48588 non-null int64
ADMITTIME               48588 non-null datetime64[ns]
DISCHTIME               48588 non-null datetime64[ns]
ADMISSION_TYPE          48588 non-null object
ADMISSION_LOCATION      48588 non-null object
DISCHARGE_LOCATION      48588 non-null object
INSURANCE               48588 non-null object
RELIGION                48588 non-null object
MARITAL_STATUS          48588 non-null object
ETHNICITY               48588 non-null object
DIAGNOSIS               48588 non-null object
HOSPITAL_EXPIRE_FLAG    48588 non-null int64
HAS_CHARTEVENTS_DATA    48588 non-null int64
admit_month             48588 non-null int64
admit_day               48588 non-null int64
admit_time              48588 non-null object
disch_month             48588 non-null int64
disch_day               48588 non-null int64
disch_time              48588 non-null object
dtypes: datetime64[ns](2), int64(9), object(10)
memory usage: 8.2+ MB

In [9]:
# categorize time of day... for now dropping time

admissions_clean = admissions_clean.drop(['admit_time','disch_time','ADMITTIME','DISCHTIME'], axis=1)

In [10]:
# get dummies
admissions_clean = pd.get_dummies(admissions_clean)
admissions_clean.head()

,ROW_ID,SUBJECT_ID,HADM_ID,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,admit_month,admit_day,disch_month,disch_day,ADMISSION_TYPE_ELECTIVE,...,DIAGNOSIS_WOUND INFECTION R/O SEPSIS,DIAGNOSIS_WOUND INFECTION'OSTEOMYELITIS,DIAGNOSIS_WOUND INFECTION;HYPOTENSION,DIAGNOSIS_WOUND INFECTION;TELEMETRY,DIAGNOSIS_WOUND TO RLE,DIAGNOSIS_WOUND ULCER,DIAGNOSIS_ZENKER'S DIVERTICULUM/SDA,DIAGNOSIS_ZONE 2 NECK INJURY,DIAGNOSIS_ZOSTER VS. MENINGITIS,DIAGNOSIS_ZYGOMATIC FRACTURE LEFT
0,21,22,165315,0,1,4,9,4,10,0,...,0,0,0,0,0,0,0,0,0,0
1,22,23,152223,0,1,9,3,9,8,1,...,0,0,0,0,0,0,0,0,0,0
2,23,23,124321,0,1,10,18,10,25,0,...,0,0,0,0,0,0,0,0,0,0
3,24,24,161859,0,1,6,6,6,9,0,...,0,0,0,0,0,0,0,0,0,0
4,25,25,129635,0,1,11,2,11,5,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# assignment and reshaping of data
data = admissions_clean.drop(["HOSPITAL_EXPIRE_FLAG"], axis=1)
target = admissions_clean["HOSPITAL_EXPIRE_FLAG"].values.reshape(-1, 1)

In [12]:
# Create test and train sets
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)
print(f"----train & test sizes-----")
print(f"train size: {len(X_train)}, keys: {len(X_train.keys())}")
print(f"test size: {len(X_test)}, keys: {len(X_test.keys())}")

----train & test sizes-----
train size: 36441, keys: 15136
test size: 12147, keys: 15136

In [13]:
# Modeling with logistic regression
classifier = LogisticRegression()

In [14]:
# Fit
classifier.fit(X_train, y_train.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [20]:
print(len(y_test))
print(len(classes_df))

12147
12147

In [21]:
# Predict
classes = classifier.predict(X_test)
classes_df = pd.DataFrame(classes)
classes_df = classes_df.rename(columns={0:'classes'})
#classes_df.to_csv('classes_df.csv')
classes_df['actual'] = y_test
classes_df.head()

   classes  actual
0        0       0
1        0       1
2        0       0
3        0       0
4        0       0

In [22]:
# Probabilities and deliverable output
predictions = classifier.predict_proba(X_test)
logistic_model = pd.DataFrame(predictions)
logistic_model = logistic_model.rename(columns={0:'samples',1:'log_probability'})
logistic_model = logistic_model.drop(['samples'], axis=1)
#logistic_model.to_csv('probabilities.csv')
logistic_model.head()

   log_probability
0         0.058160
1         0.145600
2         0.061707
3         0.130246
4         0.147320

In [23]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8931423396723471
Testing Data Score: 0.8965999835350292

In [ ]:
#classes_df.to_csv('classes_df.csv')
#logistic_model.to_csv('probabilities.csv')